html,
body {
  height: 100%;
}

body {
  @extend %dmsans-400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--big {
  max-width: 1800px;
}

.button {
  background-color: $accent;
  color: #fff;
  padding: 22px 102px 20px 26px;
  position: relative;
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icon/button-arrows.svg");
    background-size: cover;
    width: 22px;
    height: 9px;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  text-align: center;
}
