$default: #7b7b7b;
$header-color: #436372;
$accent: #a3bbc8;
$title: #191919;
$about: #243f4d;

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: "DMSans", sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans", sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%login-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #436372;
}
