@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    padding: 48px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-left: 150px;

  &__list {
    display: flex;
  }

  &__item {
    & + & {
      margin-left: 35px;
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $header-color;
  }
}

.nav-bar {
  display: flex;
  text-align: center;
  align-items: center;

  &__link {
    display: flex;
    @extend %dmsans-400;
  }

  &__link--search {
    padding: 17px;
    margin-right: 21px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 22px;
  }

  &__link--favourite {
    padding: 22px 28px 13px 41px;
    background-color: #fcd7b6;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      border-right: 1px solid #fde7d3;
      height: 32px;
      top: 9px;
      right: 0%;
    }
  }

  &__link--cart {
    padding: 21px 41px 13px 30px;
    background-color: #fcd7b6;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 18px;
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: #243f4d;
    font-size: 10px;
    position: absolute;
    &--favourite {
      top: 11px;
      right: 17px;
    }

    &--cart {
      top: 12px;
      right: 31px;
    }
  }

  &__link--burger {
    background-color: $accent;
    border-radius: 50%;
    padding: 15px;
  }
}

.footer-top {
  padding: 70px 0 65px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;

  &__contact {
    max-width: 200px;
    width: 100%;
    margin-right: -27px;
  }

  &__nav {
    max-width: 170px;
    width: 100%;
  }

  &__item-form {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__address {
    margin-top: 25px;
    font-style: normal;
  }

  &__title {
    padding: 15px 0;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $default;
  }

  &__link--address {
    line-height: 24px;
    margin-bottom: 5px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $default;
    margin-bottom: 35px;
  }

  &__form {
    display: flex;
  }

  &__input {
    padding: 12px 15px 12px;
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    max-width: 100px;
    width: 100%;
    border: none;
    background-color: $accent;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
  }
}

.footer-bottom {
  padding: 34px 0 39px;
  display: flex;
  justify-content: space-between;

  &__copy {
    font-size: 14px;
    color: $default;
  }

  &__list {
    display: flex;
  }

  &__item {
    & + & {
      border-left: 1px solid $default;
      height: 15px;
    }
  }

  &__link {
    @extend %rubik-400;
    font-size: 14px;
    color: $default;
    padding: 0 15px;
  }
}

.top-slider {
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
  }

  &__content {
    padding: 217px 0 300px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    text-transform: uppercase;
    max-width: 470px;
    margin-bottom: 26px;
  }

  &__text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #243f4d;
    max-width: 370px;
    margin-bottom: 60px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -30px;

    li {
      button {
        position: relative;
        bottom: 45px;
        width: 30px;
        height: 30px;
        background-color: #fde3cc;
        border-radius: 50%;
        border: none;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
    li + li {
      margin-left: 11px;
    }
  }
}

.info {
  background-color: #fef7f0;
  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    & + & {
      border-left: 1px solid #e8e4df;
    }
    padding: 35px 0;
    width: 33.333%;
    display: flex;
    justify-content: center;
  }
  &__img {
    margin-right: 15px;
  }

  &__content {
    align-items: center;
    padding-left: 80px;
    position: relative;
    &::before {
      position: absolute;
    }
  }

  &__content--support {
    max-width: 280px;
    &::before {
      content: url("../images/icon/support.svg");
      top: 13px;
      left: 3px;
    }
  }

  &__content--delivery {
    max-width: 300px;
    &::before {
      content: url("../images/icon/delivery.svg");
      top: 22px;
      left: 3px;
    }
  }

  &__content--payment {
    max-width: 300px;
    &::before {
      content: url("../images/icon/payment.svg");
      top: 15px;
      left: -9px;
    }
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__text {
    @extend %dmsans-400;
    color: #585858;
    font-size: 16px;
    line-height: 30px;
  }
}

.products-week {
  padding: 70px 0;
  &__title {
    margin-bottom: 22px;
  }
}

.catalog__top {
  display: flex;
  justify-content: center;
  margin-bottom: 78px;
}

.catalog {
  &__button {
    & + & {
      margin-left: 18px;
    }
    &:hover {
      color: $title;
    }
    border: none;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s linear;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  &__item {
    padding: 35px 0;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    position: relative;
  }

  &__item--active .catalog-nav {
    display: flex;
    transition: display 0.3s linear;
  }

  &__images {
    height: 188px;
    display: flex;
    align-items: flex-end;
  }

  &__content {
    text-align: center;
  }
  &__title {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: $title;
  }

  &__prices {
    @extend %dmsans-700;
    color: $accent;
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-nav {
  position: absolute;
  display: flex;
  top: 48%;
  display: none;

  &__link {
    & + & {
      margin-left: 17px;
    }
    &:hover {
      background-color: $accent;
      path {
        fill: #fff;
      }
    }
    transition: background-color 0.3s linear;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
  }
}

@import "media";
