.client {
  padding: 265px 0 87px;
  margin-top: -169px;
  background-color: #fef7f0;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &--single {
    padding: 78px 0 87px;
    margin-top: 0;
  }
}
