.conditions {
  padding: 110px 0 0;
  color: $about;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 9px;
  }

  &__list {
    margin: 18px 0 60px 34px;
  }

  &__item {
    list-style-type: decimal-leading-zero;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 19px;
    padding-left: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
